/*some style of the whole website*/
/*body*/
body {
    margin-top: 50px;
    background: #fafafa;
}

/*logo*/
.logo {
    margin-top: -15px;
}

.logo img {
    max-width: 50px;
    max-height: 50px;
}

/*btn-log*/
.btn-log {
    margin-left: 15px;
}

/*more-style*/
.more-style {
    float: right;
}

.more-style a {
    text-decoration: none;
}

.more-style a:link, .more-style a:visited {
    color: #555;
}

.more-style a:hover, .more-style a:active {
    color: #333;
}

/*video-thumbnail*/
.video-thumbnail {
    overflow: hidden;
    position: relative;
}

.video-thumbnail {
    overflow: hidden;
}

.video-thumbnail img {
    transition-duration: 0.5s;
}

.video-thumbnail img:hover {
    transform: scale(1.2);
    -moz-transform: scale(1.2); /*firefox*/
    -webkit-transform: scale(1.2); /*safari and chrome*/
    -o-transform: scale(1.2); /*opera*/
    -ms-transform: scale(1.2); /*ie9*/
}

.video-reasume {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(9, 5, 64, 0.8);
    font-size: 12px;
    color: white;
}

.video-reasume h5, .video-reasume p {
    padding-left: 10px;
    padding-right: 10px;
}

/*video-footer*/
.video-footer {
    background: #ffffff;
    color: #336699;
    text-align: center;
    margin-top: 30px;
    font-family: 微软雅黑;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: solid 1px #ddd;
}

/*nav-center-block*/
.nav-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}